.introduct-container {
  width: 100%;
  max-width: 768px;
  height: 100%;
  background: top center url("../../../assets/images/bella-huang-596578-unsplash.jpg") no-repeat;
  background-size: contain;
  margin: 0 auto;
  padding-top: 50%;
}
.introduct-container .panel {
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 auto;
  background: #ffffff;
  min-height: 400px;
  height: 100%;
  -webkit-box-shadow:  0 0 0px 0px #f3f3f3;
  -moz-box-shadow:  0 0 0px 0px #f3f3f3;
  box-shadow:  0 0 0px 0px #f3f3f3;
  padding: 0 8%;
}
.content {
  width: 100%;
}
.content .title{
  font-size: 1.8em;
  font-weight: bold;
  margin: 1em auto;
  text-align: center;
}
.content .intro{
  font-size: 1.4em;
  /*padding: 0 8%;*/
  width: 100%;
}
.button2 {
  padding: 4% 0;
  margin: 0 auto;
  display: block;
  width: 90%;
}
.button3 {
  padding: 4% 0;
  float: right;
  width: 50%;
}
