.introduct-container {
  width: 100%;
  max-width: 768px;
  height: 100%;
  background: top center url("../../../assets/images/bella-huang-596578-unsplash.jpg") no-repeat;
  background-size: contain;
  margin: 0 auto;
  padding-top: 30%;
}
.introduct-container .panel {
  width: 90%;
  height:100%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 auto;
  background: #ffffff;
  min-height: 400px;
  -webkit-box-shadow:  0 0 0px 0px #f3f3f3;
  -moz-box-shadow:  0 0 0px 0px #f3f3f3;
  box-shadow:  0 0 0px 0px #f3f3f3;
}
