<div class="record-tracer">
  <div class="text-container" #container>
    <div class="text" *ngFor="let text of (recorders$ | async)?.recordObjs" [attr.id]="text.time">
      <span [ngClass]="{'active': scrollTo === text.time}" [innerHtml]="text.text">{{text.text}}</span>
      <img *ngIf="text.imgUrl" [src]="text.imgUrl" alt="">
    </div>

    <div class="gotoQA">
      <app-button [textile]="'小测一下'" [styleOption]="'small'" (click)="gotoQA()"></app-button>
    </div>
  </div>
  <audio *ngIf="(recorders$ | async)?.recordObjs.length != 0" class="audio" #player [src]="(audioURL$ | async)" controls>
    <div style="text-align: center;">无法加载音频资源 No audios available!</div>
  </audio>
</div>

