<div class="my-wiper-container">
  <img src="./assets/images/block.png" alt="">
  <div class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div *ngFor="let slide of slides" class="swiper-slide" [ngStyle]="{'background-image':'url(' + slide.imgUrl +')'}">
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

</div>

<div class="book-reading-container">
  <div class="title">看看书</div>
  <div class="subtitle">适合中级读者阅读</div>

  <div class="arrow-wrapper">
    <div class="arrow-body">经典故事</div>
  </div>

  <div class="books-swiper-container">
    <div  class="swiper-container" [swiper]="booksConfig">

      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let story of classicStories">
          <div class="slider-icon">
            <i class="demo-icon icon-doc-text"></i>
          </div>
          <div class="slider-text">
            <div class="english-title">{{story.englishTitle}}</div>
            <div class="chinese-title">{{story.chineseTitle}}</div>
            <div class="author">- {{story.author}}</div><div class="nationality">{{story.nationality}}</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
