<div class="my-wiper-container">
  <img src="./assets/images/block.png" alt="">
  <div class="swiper-container" [swiper]="config" [(index)]="index">
    <div class="swiper-wrapper">
      <div *ngFor="let slide of slides" class="swiper-slide" [ngStyle]="{'background-image':'url(' + slide.imgUrl +')'}">
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>

</div>

<div class="book-reading-container">
  <div class="title">看看书</div>

  <app-swipered-books-component [booksContent]="books$ | async"></app-swipered-books-component>
</div>

<div class="book-reading-container">
  <div class="title">看看短故事</div>
  <!--<div class="subtitle">适合中级读者阅读</div>-->

  <div class="arrow-wrapper">
    <div class="arrow-body">经典故事</div>
  </div>

  <app-swipered-cards-component [cardsContent]="classicStories" (click)="routeToNext()"></app-swipered-cards-component>

  <div class="arrow-wrapper">
    <div class="arrow-body">童话故事</div>
  </div>

  <app-swipered-cards-component [cardsContent]="farelyStories" (click)="routeToNext()"></app-swipered-cards-component>

  <div class="title">看看新闻</div>

  <app-swipered-cards-component [cardsContent]="news" (click)="routeToNext()"></app-swipered-cards-component>
</div>
